<footer class="home-footer">
    <div class="footer-inner wrap-box">
        <div class="copyright-wrap">
            <div class="link-title">
                <h1>{{ data.site.Title }}</h1>
            </div>
            <div class="link-content">
                <p class="copyright-info">
                    Copyright &copy; 2022 {{ data.site.Company }}. All Rights Reserved.
                </p>
                <p class="browser-advice">为了使您有更好的浏览体验，建议使用Chrome浏览器</p>
            </div>
        </div>
    </div>
</footer>
{% include "../common/_app_js.html" %}