{% extends "../layouts/master.html" %}

{% block title %}首页{% endblock %}

{% block content %}
    <style>
        .layui-form-label{
            width:140px;
        }
        .layui-input-block{
            margin-left:140px;
        }
    </style>
    <div class="app-main-inner">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">后台首页</li>
            </ul>
            <div class="layui-tab-content app-serve-content">
                <div class="layui-tab-item layui-show">
                    <blockquote class="layui-elem-quote layui-text">快捷操作</blockquote>
                    <div class="layui-form-item app-shortcut">
                        <a href="/design/insert"><i class="jingui-font icon-add"></i>新增作品</a>
                        <a href="/blog/insert"><i class="layui-icon layui-icon-file"></i>新增博文</a>
                        <a href="/comment"><i class="layui-icon layui-icon-rate"></i>新增作品分类</a>
                        <a href="/comment"><i class="layui-icon layui-icon-list"></i>新增博客分类</a>
                        <a href="/comment"><i class="layui-icon layui-icon-file"></i>作品评论</a>
                        <a href="/comment/blogindex"><i class="layui-icon layui-icon-mike"></i>博客评论</a>
                        <a href="/msg"><i class="layui-icon layui-icon-chat"></i>留言管理</a>
                        <a href="/link"><i class="layui-icon layui-icon-link"></i>友情链接</a>
                        <a href="/advs"><i class="layui-icon layui-icon-picture"></i>广告管理</a>
                    </div>
                    <blockquote class="layui-elem-quote layui-text">服务器环境</blockquote>
                    {% for key, value in info %}
                        <div class="layui-form-item">
                            <label class="layui-form-label">{{ key }}</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" required lay-verify="required" disabled class="layui-input" value="{{ value }}">
                            </div>
                        </div>
                    {% endfor %}
                    <blockquote class="layui-elem-quote layui-text">使用帮助</blockquote>
                    <div class="layui-form-item">
                        <label class="layui-form-label">QQ群</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" required lay-verify="required" disabled class="layui-input" value="105545914">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}